bin/
obj/
*.user
appsettings.*.local.json

node_modules/
.next/
out/
npm-debug.log*
.env
.env.local

__pycache__/
*.pyc
.venv/
venv/

.vs/
.vscode/
.idea/
.DS_Store

# Ignore appsettings files with secrets
appsettings.json
appsettings.Development.json
appsettings.*.local.json
